main {
    background: var(--blue-dark), var(--blue-dark);
}

.welcome {
    width: 100%;
}

.welcome .title {
    width: 100%;
    display: flex;
    justify-content: center;
}

.welcome h1 {
    font-size: 6rem;
}

.welcome h1:nth-child(2) {
    color: var(--green);
    opacity: 0.5;
}

.welcome .action {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome .action .button {
    width: 20rem;
    font-weight: 700;
}

.table-header {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.table-header .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
}

.table-header form {
    display: flex;
    align-items: center;
    border-bottom: .2rem solid var(--green);
    border-radius: 0;
}

.table-header form input {
    border-bottom: 0;
}

.table-header form button {
    background: var(--blue-dark);
    color: var(--white);
    height: 2rem;
}

.table-header form button:hover {
    color: var(--yellow);
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 2.5rem 0;
    font-size: clamp(14px, 1.6rem, 2vw);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    border-bottom: 0.2rem solid var(--blue-dark);
    background: rgba(255, 255, 255, 0.1);
    color: var(--white);
    text-align: left;
    font-weight: 700;
}

.styled-table th, .styled-table td {
    padding: 1.2rem 1.5rem;
    border-radius: 0;
}

.styled-table tbody tr {
    border-bottom: 0.2rem solid var(--blue-dark);
    background: rgba(255, 255, 255, 0.6);
    color: var(--white);
    transition: 0.5s;
}

.styled-table tbody tr:hover {
    transform: scale(1.06);
}

.styled-table tbody tr a {
    color: var(--white);
}

.styled-table tbody tr .far {
    margin: 0.5rem;
    cursor: pointer;
}

.styled-table tbody tr .no-records-found {
    text-align: center;
}

.styled-table tbody tr .far:hover:nth-child(1) {
    color: var(--green);
}

.styled-table tbody tr .far:hover:nth-child(2) {
    color: var(--red);
}

.styled-table tbody tr:nth-of-type(even) {
    background: rgba(255, 255, 255, 0.4);
}

.styled-table tbody tr:last-of-type {
    border-bottom: 0.2rem solid var(--white);
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination .button-light {
    width: 3rem;
    height: 3rem;
    font-weight: 700;
    background: var(--white);
    color: var(--blue-dark);
    margin: 0 0.5rem;
}

.pagination .button-light.active {
    background: var(--green);
}